	src/.DS_Store
	src/assets/.DS_Store
	src/assets/images/.DS_Store
	src/assets/images/Carbondale/.DS_Store
	src/assets/images/Gatlinburg/.DS_Store
	src/assets/media/.DS_Store
	src/assets/media/audio/.DS_Store
	src/js/.DS_Store
	src/js/.Rhistory
	gallery.html
